
/*
//--------------------------------------------------------------------------------------
//-                                   Información Genral                               -
//--------------------------------------------------------------------------------------
*/

body{
    font-family: 'Playfair Display', serif;
    background: #ebebebf2;
    color: #000000;
    overflow-x:hidden!important;
    cursor: default;
}

.font-des{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 19px;
}

/*
//--------------------------------------------------------------------------------------
//-                                   Estructura GRID                                  -
//--------------------------------------------------------------------------------------
*/

.container{
    display: grid;
    gap: 25px;
    width: 90%;
    max-width: 1000px;
    margin: 35px auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "header header header"
    "container container sidebar"
    "widget-1 widget-2 sidebar"
    "widget-3 widget-4 sidebar"
    "widget-5 widget-5 widget-5"
    "foot foot foot";
}


/*
//--------------------------------------------------------------------------------------
//-                                       Estilos                                      -
//--------------------------------------------------------------------------------------
*/

.container > a,
.container .head,
.container .inf{
    background: #fffffF;
    padding: 20px;
    border-radius: 12px;
}

.container .sidebar{
    border-radius: 32px;
}

.container .head{
    text-align: center;
    background: linear-gradient(180deg, rgba(0, 19, 144, 0.512) 14%, rgba(0, 19, 144, 0.312) 57%, rgba(202, 204, 247, 0.412) 97%), url(./img/head.png);
    background-size:cover;
    color: #000000;
    grid-area: header;
}

.br{
    display:block;
    margin-top: 5px;
    font-family: 'Train One', cursive;
    font-size: 35px;
}

.head h2{
    color: #f2f2f2;
    border: 2px;
}

header a{
    color: #cdcfcd;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

div .inf-pre{
    display: flex;
    margin: 20px 20px -10px 20px;
}

.inf h1{
    text-align: center; 
    margin-bottom: 15px;
}

.inf h3{
    text-align: center;

}

.inf-pre img{
    height: 330px;
    width: 45%;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.inf-pre .inf-descrip{
    width: 45%;
    margin: 0 5%;
    text-align: justify;
    display:flex;
    justify-content: center;
    align-items: center;
}

.inf-mid{
    position: relative;
    display: inline-block;
    margin-left: -3.2%;
    margin-right: -3.2%;
}

.inf-mid h4{
    margin: 20px;
}

.inf-mid .inf-mid-des{
    width: auto;
    padding: 15px 30px;
    text-align: justify;
    top: 5%;
}

.inf-mid-des h4{
    font-size: 24px;
    font-family: 'Grenze', serif;
    display:flex;
    justify-content: center;
    align-items: center;
}

.inf-mid-end h4{
    font-size: 24px;
    font-family: 'Grenze', serif;
    display:flex;
    justify-content: center;
    align-items: center;  
}

.inf-mid-end{
    position: relative;
    text-align: justify;
}

.inf-mid-end img{
    width: 45px;
    height: 45px;
    position: absolute;
    left: 80%;
    top: -8%;
}

.inf .final{
    position: relative; 
    text-align: center; 
    margin: 20px 0 15px 0;
    height: 150px;
}

.final a img {
    cursor: help;
    margin-top: 2%;
}

/*
//--------------------------------------------------------------------------------------
//-                                      Sidebar                                       -
//--------------------------------------------------------------------------------------
*/

.sidebar{
    position: relative;
}

.sidebar .sidebar-img-fon .sidebar-img-in{
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
    opacity: 0.929;
    width: 100%;
}

.sidebar .sidebar-img-front .img-front{
    position: absolute;
    width: 36%;
    top: 1.2%;
    left: 34%;
}

.side-name{
    display: block;
    position: relative;
    text-align: center;
    margin: -20% 0 0 2%;
    width: 100%;
    font-size: 120%;
    color: #f2f2f2f2;
}

.sidebar .sidebar-inf{
    display: block;
    margin-top: 10%;
    position: relative;
    
}

li, li a{
    list-style: none;
    color: #000000;
    text-decoration: none;
    top: -10%;
}

li a:hover{
    text-decoration: underline;
}

.sidebar-size img{
    display: inline-block;
    margin: 0 10% 0 -2%;
    width: 60px;
}

.sidebar-size{
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 120%;
    padding: 70px 0 35px 0;
    border-bottom: 1px solid #414141;
    margin: 20px;
}

/*
//--------------------------------------------------------------------------------------
//-                                      Trabajos                                      -
//--------------------------------------------------------------------------------------
*/

.container > a{
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.w-hov:hover{
    cursor: pointer;
}

.container .widget-1:hover{
    position: relative;
    filter: blur(0);
    -webkit-filter: blur(0);
    transition: 0.5s;
    transform: scale(1.15);
 } 

 .container .widget-2:hover{
    position: relative;
    filter: blur(0);
    -webkit-filter: blur(0);
    transition: 0.5s;
    transform: scale(1.15);
 } 
 
 .container .widget-3:hover{
    position: relative;
    filter: blur(0);
    -webkit-filter: blur(0);
    transition: 0.5s;
    transform: scale(1.15);
 } 

 .container .widget-4:hover{
    position: relative;
    filter: blur(0);
    -webkit-filter: blur(0);
    transition: 0.5s;
    transform: scale(1.15);
 } 

 .container .widget-5:hover{
    position: relative;
    filter: blur(0);
    -webkit-filter: blur(0);
    transition: 0.5s;
    transform: scale(1.1);
 } 

/*
//--------------------------------------------------------------------------------------
//-                            Construccion de la estructura                           -
//--------------------------------------------------------------------------------------
*/

.container .inf {
    grid-area: container;
}

.container .sidebar{
    grid-column: 3 / -1;
    background: #fffffF;
    grid-area: sidebar;
}

.container .widget-1{
    background: url(./img/1.jpg);
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0.758;
    grid-area: widget-1;
    transform: scale(0.95);
    transition: 0.5s;
}

.container .widget-2{
    background: url(./img/2.jpg);
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0.758;
    grid-area: widget-2;
    transform: scale(0.95);
    transition: 0.5s;
}

.container .widget-3{
    background: url(./img/3.jpg);
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0.758;
    grid-area: widget-3;
    transform: scale(0.95);
    transition: 0.5s;
}

.container .widget-4{
    background: url(./img/4.jpg);
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0.758;
    grid-area: widget-4;
    transform: scale(0.95);
    transition: 0.5s;
}

.container .widget-5{
    background: url(./img/5.jpg);
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0.758;
    grid-area: widget-5;
    transform: scale(0.95);
    transition: 0.5s;
}

/*
//--------------------------------------------------------------------------------------
//-                                       Footer                                       -
//--------------------------------------------------------------------------------------
*/

footer{
    grid-area: foot;
    background: #414141;
    padding: 60px 0 30px 0;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #cccccc;
}
.content-foot{
    text-align: center;
}

.content-foot h4{
    color: #ffffff;
    border-bottom: 3px solid #0f9b0f;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foot p{
    color: #cccccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #e2e2e2be;
}

/*

//--------------------------------------------------------------------------------------
//-                                Dispositivos medianos                               -
//--------------------------------------------------------------------------------------

*/

@media (max-width: 768px){
    .container{
        grid-template-areas: 
    "header header header"
    "sidebar sidebar sidebar"
    "container container container"
    "widget-1 widget-2 widget-2"
    "widget-3 widget-3 widget-4 "
    "widget-5 widget-5 widget-5"
    }

    .head h2 span a{
        font-size: 50%;
    }

    .container .sidebar{
        border-radius: 28px;
    }

    .sidebar-size img{
        display: inline-block;
        margin: 0 10% 0 -20%;
        width: 60px;
    }

    .container .sidebar{
        width: 65%;
        margin: auto;
    }
    
    .sidebar .sidebar-img-front .img-front{
        position: absolute;
        width: 34%;
        top: 2%;
        left: 34%;
    }

    .sidebar-size{
        font-size: 90%;
        padding: 15px 0 20px 0;
        border-bottom: 1px solid #414141;
    }
    
    div .inf-pre{
        display: block;
        margin: 20px;
    }

    .inf-pre img{
        height: 60%;
        width: 50%;
        margin: 0 auto 5% auto;
        display: flex;  
    }

    .inf-pre .inf-descrip{
        width: 100%;
        margin: 0;
    }

    .contenedor-footer{
        display: block;
    }

    .content-foot p{
        margin-bottom: 20px;
    }

    .titulo-final{
        font-size: 16px;
    }
}

/*

//--------------------------------------------------------------------------------------
//-                                Dispositivos pequeños                               -
//--------------------------------------------------------------------------------------

*/@media (max-width: 320px){

    .container{
        grid-template-areas: 
    "header header header"
    "sidebar sidebar sidebar"
    "container container container"
    "widget-1 widget-1 widget-1"
    "widget-2 widget-2 widget-2"
    "widget-3 widget-3 widget-3"
    "widget-4 widget-4 widget-4"
    "widget-5 widget-5 widget-5"
    "foot foot foot";
    }

    .final a img {
        width: 45%;
    }

    .sidebar-size img{
        width: 42px;
    }

    .head h2{
        font-size: 85%;
    }
    .head h2 span a{
        font-size: 40%;
    }

    .inf-mid p{
        padding-bottom: 20px;
        border-bottom: 2px solid rgb(43, 160, 43);
    }

    .inf-mid-end p{
        padding-bottom: 20px;
        border-bottom: 2px solid rgb(43, 160, 43);
    }

    .inf-mid-end img{
        display: none;
    }

    .contenedor-footer{
        display: block;
    }

    .content-foot p{
        margin-bottom: 20px;
    }

    .titulo-final{
        font-size: 16px;
    }
}

